/* ... 기타 스타일 ... */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9d9bf8;
    padding: 10px;
    border-radius: 25px;
}

nav div {
    font-weight: bold;
    font-size: 20px;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; /* 중앙을 가운데로 유지 */
}

nav button {
    background-color: #5c5c5c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

nav a {
    color: #e0e0e0;
    text-decoration: none;
}

.round-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
