
.createButton {
    background-color: #5b72db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    margin: 0 auto; /* 수평 가운데 정렬 */
    display: block; /* 가로 중앙 정렬을 위해 display 속성을 block으로 설정 */   
    transition: transform 0.3s;
    margin-top: 20px;
}

.createButton:hover {
    transform: scale(1.1);
}

a.no-underline {
    text-decoration: none; /* 특정 클래스가 지정된 링크의 텍스트 밑줄 제거 */
}

.list-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.texthover {
    transition: transform 0.3s;
}

.texthover:hover {
    transform: scale(1.1);
}